-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "StorageType" AS ENUM ('INSTANCE', 'PERSISTENT', 'CONTRACT_CODE');

-- CreateEnum
CREATE TYPE "TrackingStatus" AS ENUM ('HEALTHY', 'NEAR_EXPIRY', 'CRITICAL', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "KeyStatus" AS ENUM ('ACTIVE', 'DEPRECATED', 'RETIRED');

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL,
    "public_key" VARCHAR(56) NOT NULL,
    "deposit_memo" VARCHAR(64) NOT NULL,
    "webhook_url" TEXT,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "balance_pools" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "xlm_balance" DECIMAL(20,7) NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "balance_pools_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "monitored_keys" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "contract_id" VARCHAR(56) NOT NULL,
    "target_key_xdr" TEXT NOT NULL,
    "storage_kind" "StorageType" NOT NULL,
    "threshold_ledgers" INTEGER NOT NULL DEFAULT 15000,
    "extend_to_ledgers" INTEGER NOT NULL DEFAULT 100000,
    "status" "TrackingStatus" NOT NULL DEFAULT 'HEALTHY',
    "last_checked_ledger" INTEGER,
    "live_until_ledger" INTEGER,
    "updated_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "monitored_keys_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transaction_logs" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "monitored_key_id" UUID NOT NULL,
    "tx_hash" TEXT NOT NULL,
    "signing_key_id" UUID,
    "status" TEXT NOT NULL,
    "xlm_cost" DECIMAL(20,7),
    "extended_to" INTEGER,
    "error_message" TEXT,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "transaction_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deposit_logs" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "tx_hash" TEXT NOT NULL,
    "amount" DECIMAL(20,7) NOT NULL,
    "memo" TEXT NOT NULL,
    "source_account" VARCHAR(56) NOT NULL,
    "ledger_seq" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "deposit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "relayer_keys" (
    "id" UUID NOT NULL,
    "public_key" VARCHAR(56) NOT NULL,
    "encrypted_secret" TEXT NOT NULL,
    "iv" TEXT NOT NULL,
    "auth_tag" TEXT NOT NULL,
    "key_version" INTEGER NOT NULL,
    "status" "KeyStatus" NOT NULL DEFAULT 'ACTIVE',
    "last_used_at" TIMESTAMPTZ,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "relayer_keys_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_public_key_key" ON "users"("public_key");

-- CreateIndex
CREATE UNIQUE INDEX "users_deposit_memo_key" ON "users"("deposit_memo");

-- CreateIndex
CREATE UNIQUE INDEX "balance_pools_user_id_key" ON "balance_pools"("user_id");

-- CreateIndex
CREATE INDEX "monitored_keys_status_idx" ON "monitored_keys"("status");

-- CreateIndex
CREATE INDEX "monitored_keys_user_id_idx" ON "monitored_keys"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "monitored_keys_user_id_contract_id_target_key_xdr_key" ON "monitored_keys"("user_id", "contract_id", "target_key_xdr");

-- CreateIndex
CREATE INDEX "transaction_logs_user_id_idx" ON "transaction_logs"("user_id");

-- CreateIndex
CREATE INDEX "transaction_logs_created_at_idx" ON "transaction_logs"("created_at");

-- CreateIndex
CREATE UNIQUE INDEX "deposit_logs_tx_hash_key" ON "deposit_logs"("tx_hash");

-- CreateIndex
CREATE INDEX "deposit_logs_user_id_idx" ON "deposit_logs"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "relayer_keys_public_key_key" ON "relayer_keys"("public_key");

-- CreateIndex
CREATE INDEX "relayer_keys_status_idx" ON "relayer_keys"("status");

-- AddForeignKey
ALTER TABLE "balance_pools" ADD CONSTRAINT "balance_pools_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "monitored_keys" ADD CONSTRAINT "monitored_keys_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transaction_logs" ADD CONSTRAINT "transaction_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transaction_logs" ADD CONSTRAINT "transaction_logs_monitored_key_id_fkey" FOREIGN KEY ("monitored_key_id") REFERENCES "monitored_keys"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deposit_logs" ADD CONSTRAINT "deposit_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

